:host {
  ::ng-deep .p-multiselect-label {
    height: 40px;
    font-size: 14px;
  }
}

:host {
  ::ng-deep .ng-star-inserted {
    font-size: 14px;
  }
}

:host {
  ::ng-deep .p-multiselect {
    width: 350px;
  }
}

:host {
  ::ng-deep .p-button {
    margin-left: 10px;
  }
}

:host {
  ::ng-deep .p-button-label {
    font-weight: 400;
  }
}

.cat-form {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;

  .cat-button {
    margin-left: 10px;
  }

  .input-cat-field {
    height: 35px;
  }
}

.form-card {
  display: flex;
}

.images-area {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 100%;
  border: 1px dashed #727272;

  .images-add-button {
    // border: 1px solid black;
    text-align: end;
    height: 50px;
  }

  .image-ctn {
    margin-right: 20px;
  }
}
