<div class="gym-container">
  <div class="ctn-content">
    <div class="header-content">
      <p>Produtos</p>
      <div>
        <p-button [routerLink]="['/produtos/form']" routerLinkActive="router-link-active" class="add-button"
          label="adicionar" size="small" />
      </div>
    </div>

    <p-card>
      <p-table class="datagrid" [value]="produtos" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>titulo</th>
            <th style="width: 35%">descrição</th>
            <th style="width: 8%">preço</th>
            <th style="width: 8%">qtd</th>
            <th style="width: 15%">atualização</th>
            <th>status</th>
            <th>ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.titulo }}</td>
            <td>{{ product.descricao }}</td>
            <td>{{ product.preco | currency }}</td>
            <td>{{ product.quantidade }}</td>
            <td>{{ product.atualizadoEm | date }}</td>
            <td>{{ product.status }}</td>
            <td>
              <div class="actions-opt">
                <a class="edit-btn" (click)="editar(product)">editar</a>
                |
                <p class="del-btn" (click)="excluir(product)">excluir</p>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>